<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Database and UI Assignment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href='style.css'>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src='app.js'></script>
  </head>
<body>
	<div class="container">
		{{{body}}}
	</div>
</body>
</html>
